@tailwind base;

@layer base {
	* {
		@apply m-0 p-0 box-border;
	}
	
	@font-face {
		font-family: 'JetBrainsMono';
		src: url('../fonts/JetBrains/JetBrainsMono.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../fonts/Manrope.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Opposit';
		src: url('../fonts/Opposit.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Outfit';
		src: url('../fonts/Outfit.ttf') format('truetype');
	}

	h3 {
		@apply w-3/5 text-2xl font-semibold mb-8 text-left;
	}

	h4 {
		@apply text-sm font-opposit font-thin uppercase tracking-widest mb-8 text-center;
	}

	img {
		@apply w-full h-full object-cover;
	}
	// img {
	// 	@apply max-w-full max-h-full m-auto block object-cover;
	// }
}

@tailwind components;

@layer components {
	.sub-head-p {
		@apply mb-8 uppercase text-3xl font-[900] tracking-wider leading-8;
	}

	.auth {
		@apply grid grid-cols-2;
	}

	.flex-column {
		@apply w-full h-screen flex flex-col justify-center items-center;
	}

	.flex-rowed {
		@apply;
	}

	.btn-primary {
		@apply w-full h-12 text-white text-sm uppercase tracking-widest bg-blue-800 before:bg-violet-300;
	}

	.btn-shop {
		@apply before:block relative w-full h-14 text-white text-xs font-semibold uppercase tracking-wider bg-black;
	}

	.input {
		@apply mb-5 h-12 pl-3 text-xs border;
	}
}

@tailwind utilities;
