@tailwind base;

@layer base {
	* {
		@apply m-0 p-0 box-border;
	}

	@font-face {
		font-family: 'JetBrainsMono';
		font-display: swap;
		src: url('../fonts/JetBrains/JetBrainsMono.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../fonts/Manrope.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Opposit';
		font-display: swap;
		src: url('../fonts/Opposit.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Outfit';
		display: swap;
		src: url('../fonts/Outfit.ttf') format('truetype');
	}

	h3 {
		@apply w-3/5 text-2xl font-semibold mb-[30px] text-left;
	}

	h4 {
		@apply text-sm font-opposit font-thin uppercase tracking-widest mb-8 text-center;
	}

	img {
		@apply w-full h-full object-cover;
	}

	select {
		@apply px-4 grid items-center;
		grid-template-areas: 'select';
		-webkit-appearance: none;
		background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position-x: 98%;
		background-position-y: 15px;
	}

	input,
	select {
		@apply w-full h-12 border-[#000] border-0.5 border-solid;
	}

	input::placeholder {
		@apply tracking-wide text-xs text-[#444] capitalize;
	}

	select:focus,
	input:focus {
		@apply outline-none;
		// border: 0.5px solid #253cac;
	}

	.socials a {
		@apply px-8 h-4 text-[#444] text-xxs font-light uppercase text-center tracking-wider border-r-0.5 border-solid border-black hover:text-black;
	}
}

@tailwind components;

@layer components {
	.sub-head-p {
		@apply mb-8 uppercase text-3xl font-[900] tracking-wider leading-8;
	}

	.flex-column {
		@apply w-full h-screen flex flex-col justify-center items-center;
	}

	.btn-primary {
		@apply w-full h-12 text-white text-sm uppercase tracking-widest bg-black before:bg-violet-300;
	}

	.btn-shop {
		@apply before:block relative w-full h-14 text-white text-xs font-semibold uppercase tracking-wider bg-black;
	}

	.line {
		@apply my-8 w-full border-b-0.5 border-[#ccc];
	}

	.input {
		@apply pl-3 text-xs block mb-4;
	}

	.too p {
		@apply last:border-r-0;
	}

	.tabs {
		@apply w-2/5 py-2 text-xs text-center text-[#444] font-semibold uppercase border-slate-400 border-r-0.5 cursor-pointer;
	}

	.active-tab {
		@apply font-bold text-black;
	}

	.content {
		@apply hidden;
	}

	.active-content {
		@apply block text-xs leading-6;
	}

	.default-link {
		@apply text-xs font-semibold cursor-pointer;
	}

	.nav-link {
		@apply block relative uppercase font-opposit text-center tracking-wider;
	}

	.on-flex {
		@apply flex justify-between items-center;
	}

	.on-link-hover {
		@apply before:content-["_"] before:absolute before:w-full before:h-[0.5px] pb-1 before:bg-black before:left-0 before:bottom-0 before:origin-right before:scale-x-0 before:transition-transform before:duration-300 before:ease-in-out hover:before:origin-left hover:before:scale-x-100;
	}

	// on-btn-animation {
	// 	@apply;
	// }
}

@tailwind utilities;
